body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:89px;
  width:249px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u3714_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u3714.mouseOver {
}
#u3714_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:217px;
  white-space:nowrap;
}
