body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:64px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:32px;
  height:32px;
  color:#FFFFFF;
}
#u3380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
