body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:98px;
  width:16px;
  height:16px;
  font-size:16px;
  color:#FF3399;
}
#u3385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:103px;
  width:24px;
  height:24px;
}
#u3386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
