body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1109px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:387px;
  width:63px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:43px;
  white-space:nowrap;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:384px;
  width:24px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:389px;
  width:14px;
  height:14px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#108DE9;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:2px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:396px;
  width:203px;
  height:1px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:388px;
  width:63px;
  height:18px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:43px;
  white-space:nowrap;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:385px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u4058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:391px;
  width:12px;
  height:12px;
  font-size:8px;
  color:#FFFFFF;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:396px;
  width:197px;
  height:1px;
}
#u4059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:388px;
  width:63px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:22px;
}
#u4061_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:43px;
  white-space:nowrap;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:385px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#CCCCCC;
  line-height:22px;
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u4063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:391px;
  width:12px;
  height:12px;
  font-size:8px;
  color:#FFFFFF;
}
#u4063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:522px;
  width:34px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
}
#u4066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:600px;
  width:34px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:551px;
  width:67px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4068_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:546px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:22px;
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:5px;
  width:24px;
  word-wrap:break-word;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:473px;
  width:67px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4071_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:468px;
  width:32px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u4074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:476px;
  width:16px;
  height:16px;
  font-family:'anticon', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#108DE9;
}
#u4075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:624px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#CCCCCC;
  line-height:22px;
}
#u4078_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:5px;
  width:24px;
  word-wrap:break-word;
}
#u4079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:629px;
  width:67px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u4079_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:269px;
  width:73px;
  height:18px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:24px;
}
#u4082_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-3px;
  width:49px;
  white-space:nowrap;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:262px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u4084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u4085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:278px;
  width:250px;
  height:1px;
}
#u4085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:278px;
  width:250px;
  height:1px;
}
#u4086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:24px;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:269px;
  width:65px;
  height:18px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:24px;
}
#u4089_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-3px;
  width:49px;
  white-space:nowrap;
}
#u4090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:262px;
  width:32px;
  height:32px;
  font-size:16px;
  color:#CCCCCC;
  line-height:24px;
}
#u4090_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u4091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:270px;
  width:16px;
  height:16px;
  font-size:8px;
  color:#FFFFFF;
}
#u4091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:24px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:267px;
  width:73px;
  height:18px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
  line-height:24px;
}
#u4094_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-3px;
  width:49px;
  white-space:nowrap;
}
#u4095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:260px;
  width:32px;
  height:32px;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  line-height:24px;
}
#u4095_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u4096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:268px;
  width:16px;
  height:16px;
  font-size:8px;
  color:#FFFFFF;
}
#u4096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:294px;
  width:141px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:294px;
  width:141px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:294px;
  width:141px;
  height:44px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u4099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4101_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:610px;
  height:5px;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:720px;
  width:607px;
  height:2px;
}
#u4101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:325px;
  height:6px;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:719px;
  width:322px;
  height:3px;
}
#u4102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:735px;
  width:33px;
  height:22px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u4104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:716px;
  width:8px;
  height:8px;
}
#u4105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:735px;
  width:65px;
  height:22px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:center;
  line-height:22px;
}
#u4107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:716px;
  width:8px;
  height:8px;
}
#u4108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:735px;
  width:65px;
  height:22px;
  font-family:'Microsoft Tai Le Negreta', 'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
  line-height:22px;
}
#u4110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4111_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:22px;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:713px;
  width:14px;
  height:14px;
}
#u4111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:22px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:767px;
  width:43px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:22px;
}
#u4112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:770px;
  width:14px;
  height:14px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u4113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:738px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:center;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:716px;
  width:10px;
  height:10px;
}
#u4116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:770px;
  width:116px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  line-height:22px;
}
#u4117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:774px;
  width:14px;
  height:14px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u4118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
